// Project placeholders
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Utilities
//////////////////////////////////////////////////////

$flex--center
  display flex
  align-items center
  justify-content center


$widget
  @extend $flex--center
  height 100%
  background $colors.stone
  border 4px solid $colors.primary
  color $colors.primary
  padding 20px
  text-align: center
  $text("anna")
  $border-radius("shooting")

  &__wrapper
    height 100%

  &__test
    color $colors.sea
    $text("alena")
